ion-avatar {
    width: 100px;
    height: 100px;
}

.preview {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

ion-searchbar {
    padding: 0;
}

.fallback {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #bfbfbf;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    p {
        text-align: center;
    }
}