<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="end">
        <ion-button (click)="logout()" color="danger">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar" [src]="profile.imageUrl" />
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Choisissez une photo</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>
</ion-content>
